body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#navbar-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}


#navbar-content>li {
    float: left;
}

#navbar-content>li>a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
}

#navbar-content>*:hover {
    background-color: lightgrey;
}

#HomePage {
    text-align: center;
    margin: 150px auto;
    background-color: grey;
    display: block;
    width: 40%;
    height: 300px;
    padding: 50px;
}